@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<div class="max-w-3xl mx-auto bg-white rounded-xl border border-gray-200 shadow-sm">
    <div class="p-6">
        <h1 class="font-semibold text-gray-800 text-2xl">@ViewData["Title"]</h1>
        <p class="text-gray-500">Site gizlilik politikası burada yer alır.</p>
    </div>
</div>
